@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-fonts {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

*{
    margin: 0;
    padding: 0;
}
.header{
    background-color: rgba(255, 144, 14, 0.1);
    max-width: 100%;
    height: 1000px;
}

/* nav bar design */
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav h2{
    margin-left: 228px;
    margin-top: 50px;
    font-size: 1.8rem;
    font-weight: 600;
    color: #131313;
}

.nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 240px;
    margin-top: 63px;
    gap: 100px;

}

.nav ul a{
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    color: #424242;
}
/* nav bar design end */

/* banner  */
.banner-info{
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
    margin-top: 102px;
}

.banner-info h1{
    font-size: 4rem;
    margin-bottom: 25px;
    color: #000000;
}

.banner-info p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    color: #727272;
}

.banner-info .button{
    margin-top: 32px;
    padding: 20px 25px;
    color: white;
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: 500;
}

.banner-info img{
    display: block;
    margin: 0 auto;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 45px;
    border-radius: 8px;
}
/* banner end */

/* feature section start */
.features{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;
    gap: 73px;
    margin-top: 85px;
}

.features .image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.features .features-info h3{
    font-size: 2.8rem;
    font-weight: 500;
    color: #727272;
    margin-bottom: 24px;
}

.features .features-info .of-our{
    font-size: 2.8rem;
    font-weight: 600;
    color: #131313;
}
.features .features-info .features1{
    font-weight: 600;
    color: #FF900E;
}

.features .features-info p{
    font-size: 1rem;
    line-height: 26px;
    color: #727272;
    margin-bottom: 32px;
}

.features .features-info button{
    padding: 20px 25px;
    background-color: #FF900E;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: 500;
}

/* secon-feature star */
.second-feature{
    max-width: 1440px;
    height: 1059px;
    margin: 0 auto;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 130px;
    gap: 146px;
}

#second-feature-bar{
    border-left: 5px solid #FF900E;
}

.second-feature .second-feature-info h4{
    font-size: 2.8rem;
    font-weight: 600;
    color: #131313;
    margin-bottom: 24px;
    padding-left: 21px;
}

.second-feature .second-feature-info p{
    font-size: 1rem;
    line-height: 26px;
    color: #727272;
    margin-bottom: 30px;
}


.second-feature-info .second-feature-card{
    padding: 30px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 30px 0 rgba(0, 0, 0, 0.06);
}

.second-feature-info .second-feature-card h5{
    font-size: 1.1rem;
    font-weight: 500;
    color: #131313;
    margin-bottom: 10px;
}

.second-feature-info .second-feature-card p{
    font-size: 1rem;
    line-height: 26px;
    color: #727272;
}

.second-feature .experience-btn{
    padding: 46px 42px;
    border: none;
    border-radius: 8px;
    background-color: #FF900E;
    color: white;
    font-size: 4rem;
    font-weight: 600;
    margin-top: -130px;
    margin-left: -130px;
}

/* second feature section end */

/* facts section start */
.facts{
    max-width: 1440px;
    margin: 0 auto ;
    margin-top: 130px;
}

.facts h2{
    font-size: 2.8rem;
    font-weight: 600;
    color: #131313;
}

.facts p{
    font-size: 1rem;
    line-height: 26px;
    margin-top: 24px;
    color: #727272;
    margin-bottom: 100px;
}

.facts .facts-card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 124px;
}

.facts .facts-card-container .facts-cards{
    max-width: 241px;
    /* height: 241px; */
    border: 1px solid #FF900E;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 45px 35px;
}

.facts .facts-card-container .facts-cards img{
    margin-bottom: 10px;
}

.facts .facts-card-container .facts-cards h4{
    font-size: 2.8rem;
    font-weight: 500;
    color: #424242;
    margin-bottom: 5px;
}

.facts .facts-card-container .facts-cards h5{
    font-size: 1.1rem;
    font-weight: 500;
    color: #727272;

}


/* sponcers section start */
.sponcers{
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
    margin-top: 180px;  
}

.sponcers h2{
    font-size: 2.8rem;
    font-weight: 600;
    color: #131313;
    margin-bottom: 24px;
}

.sponcers p{
    font-size: 1rem;
    line-height: 26px;
    color: #727272;
    margin-bottom: 50px;
}

.sponcers .sponcers-image-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 155px;
    filter: grayscale(100%);
}
/* end sponcers section */


